.change {
  border: 1px solid var(--gray20);
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
}

.change-option {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--gray20);
  padding-block: 0.5rem;
  padding-inline: 0.875rem;
  font-weight: 900;
  transition: background 0.3s, color 0.3s;
}

.change-option[aria-current="page"] {
  background: rgb(218, 233, 245);
  color: var(--blue30);
}

/* estadoa */

.change-option:hover:not(.change-option[aria-current="page"]),
.change-option:focus:not(.change-option[aria-current="page"]) {
  background: var(--gray10);
}

.change-option:active {
  background: rgb(218, 233, 245);
  color: var(--blue30);
}
