.currentTime {
  position: absolute;
  inline-size: 5rem;
  max-inline-size: 100%;
  block-size: 1px;
  background: var(--red10);
  inset-block-start: 200px;
  inset-inline-start: 220px;
}

.currentTime::before {
  content: " ";
  display: block;
  inline-size: 0.875rem;
  block-size: 0.875rem;
  border-radius: 50%;
  background: inherit;
  transform: translateY(-50%);
}
