@import "./calendar.css";
@import "./header.css";
@import "./aside.css";

:root {
  --inlineSidebar: 15.25rem;
  --blockHeader: 6rem;
}

.page {
  display: grid;
  grid-template-columns: var(--inlineSidebar) 1fr;
  grid-template-rows: var(--blockHeader) 1fr;
  grid-template-areas: "header header" "sidebar calendar";
  block-size: 100vh;
  position: relative;
}

.page .header {
  grid-area: header;
}

.page .sidebar {
  grid-area: sidebar;
}

.page .calenda {
  grid-area: calendar;
}
