.select {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  color: var(--gray50);
  border: 1px solid var(--gray50);
  cursor: pointer;
  background: transparent;
  font: var(--button-button);
  outline: none;
  transition: background 0.3s;
  position: relative;
}

.select::after {
  content: url(../img/icons.svg);
  display: inline-block;
  inline-size: 1rem;
  block-size: 1rem;
  object-fit: cover;
  vertical-align: middle;
}

.select:hover,
.select:focus {
  background: var(--gray10);
}

.select:hover .options {
  display: flex;
}
